System Requirements
Hardware Requirements
The csRNA alignment requires only a standard computer with enough RAM to support the operations defined by a user. For minimal performance, this will be a computer with about 2 GB of RAM. For optimal performance, we recommend a computer with the following specs:
RAM: 32+ GB
CPU: 20+ cores, 2.1+ GHz/core
The runtimes below are generated using a computer with the recommended specs (32 GB RAM, 20 cores@2.1 GHz) and internet of speed 25 Mbps.
OS Requirements
The package development version is tested on Linux operating systems. The developmental version of the package has been tested on the following systems:
Linux: Ubuntu 22.04
The CRAN package should be compatible with Windows, Mac, and Linux operating systems.
Before setting up the lolR package, users should have R version 3.4.0 or higher, and several packages set up from CRAN.
Installing R version 4.3.1 on Ubuntu 22.04
the latest version of R can be installed by adding the latest repository to apt:
sudo apt-get update
sudo apt-get install r-base r-base-dev
which should install in about 20 seconds.

